<h1> Hey yo! You are looking at {{ sightings.unique_squirrel_id }} </h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form method = "post">
{% csrf_token %}
{% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
{% endfor %}
    <input type = "submit" value = "Submit">
</form>


<form action="{% url 'sightings:delete' sightings.unique_squirrel_id %}" method="post">
{% csrf_token %}
<input type="submit" value="Delete">
</form>
